update_alarm_state:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: zwave_js
          manufacturer: Ring
    alarm_state:
      required: true
      example: "armed_away"
      selector:
        select:
          translation_key: "alarm_state"
          options:
            - "armed_away"
            - "armed_home"
            - "arming"
            - "disarmed"
            - "pending"
            - "triggered"
chime:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: zwave_js
          manufacturer: Ring
    chime:
      required: true
      example: "double_beep"
      selector:
        select:
          translation_key: "chime"
          options:
            - "double_beep"
            - "guitar_riff"
            - "wind_chime"
            - "bing_bong"
            - "doorbell"
alarm:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: zwave_js
          manufacturer: Ring
    alarm:
      required: true
      example: "generic"
      selector:
        select:
          translation_key: "alarm"
          options:
            - "invalid_code"
            - "need_bypass"
            - "generic"
            - "burglar"
            - "smoke"
            - "co2"
            - "medical"
